.about-us__title {
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.about-us__list {
  list-style: none;
}

.about-us__advantage {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
