.cart-button__icon {
  opacity: 0.2;
  fill: #000000;
}

.cart-button {
  padding: 0;

  &:focus .cart-button__icon,
  &:hover .cart-button__icon {
    fill: $light-turquoise;
    opacity: 1;
  }

  &:active .cart-button__icon {
    fill: $light-turquoise;
    opacity: 0.3;
  }
}
