.container {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;
  max-width: $mobile-width + 100px;
}

@media (min-width: $tablet-width) {
  .container {
    margin: 0 auto;
    padding: 0 50px;
    width: $tablet-width;
    max-width: none;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    max-width: none;
  }
}
