.feedback {
  position: relative;

  padding-bottom: 51px;
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 6px;

    background-color: transparent;
    background-image: url("../../img/zigzag-line.svg");
    background-position: center;
    background-repeat: repeat-x;
  }
}

.feedback__title {
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.feedback__write1 {
  display: none;
}

.feedback__message {
  margin-top: 0;
  margin-bottom: 26px;

  font-size: 15px;
  line-height: 30px;
  color: $dark-grey-text;
}

.feedback__author {
  margin-bottom: 33px;
}

.feedback__author-name {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.feedback__author-at {
  font-size: 15px;
  line-height: 30px;
  color: $dark-grey-text;
}

.feedback__navigation {
  display: flex;
  width: 100%;
  margin-bottom: 38px;
}

.feedback__nav-button {
  width: 50%;
  height: 51px;
  padding: 0;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px #ececec solid;

  &--prev {
    background-image: url("../img/index/arrow-left.svg");
  }

  &--next {
    background-image: url("../img/index/arrow-right.svg");
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.feedback__write2 {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .feedback {
    padding-bottom: 97px;
    margin-bottom: 60px;

    background-repeat: no-repeat;
    background-size: 350px auto;

    &::after {
      height: 17px;

      background-size: contain;
    }
  }

  .no-webp .feedback,
  .no-js .feedback {
    background-image: url("../img/index/feedback-bg.jpg");
    background-image:
      -webkit-image-set(
          url("../img/index/feedback-bg.jpg") 1x,
          url("../img/index/feedback-bg@2x.jpg") 2x
      );
    background-image:
      image-set(
          url("../img/index/feedback-bg.jpg") 1x,
          url("../img/index/feedback-bg@2x.jpg") 2x
      );
  }

  .webp .feedback {
    background-image: url("../img/index/feedback-bg.webp");
    background-image:
      -webkit-image-set(
          url("../img/index/feedback-bg.webp") 1x,
          url("../img/index/feedback-bg@2x.webp") 2x
      );
    background-image:
      image-set(
          url("../img/index/feedback-bg.webp") 1x,
          url("../img/index/feedback-bg@2x.webp") 2x
      );
  }

  .feedback__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .feedback__title {
    margin-top: 75px;
    margin-bottom: 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .feedback__write1 {
    display: inline-block;
    width: 175px;
    flex-shrink: 0;
    margin-top: 80px;
  }

  .feedback__write2 {
    display: none;
  }

  .feedback__message {
    margin-bottom: 61px;

    font-size: 17px;
  }

  .feedback__author-name {
    font-size: 18px;
  }

  .feedback__navigation {
    width: 175px;
    flex-shrink: 0;
  }

  .feedback__nav-button {
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    padding-bottom: 150px;
    margin-bottom: 70px;

    background-position: 50px top;

    &::after {
      height: 23px;
      width: 1050px;
      margin: 0 50px;
    }
  }

  .feedback__wrapper {
    @include desktop-margin;
  }

  .feedback__message {
    @include desktop-margin;
    margin-bottom: 35px;
  }

  .feedback__title {
    font-size: 53px;
    line-height: 57px;
  }

  .feedback__author-name {
    font-size: 17px;
  }
}
