.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;

  &--clickable:focus .page-footer__logo-image,
  &--clickable:hover .page-footer__logo-image {
    fill: #46c1ae;
  }

  &--clickable:active .page-footer__logo-image {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.page-footer__socials {
  @include reset-list;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto;
  padding: 27px 0;

  border-bottom: 1px #e5e5e5 solid;
}

.page-footer__socials-item {
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.page-footer__social-icon {
  fill: #231F20;
}

.page-footer__social-link {

  &:focus .page-footer__social-icon,
  &:hover .page-footer__social-icon {
    fill: #46c1ae;
  }

  &:active .page-footer__social-icon {
    fill: #46c1ae;
    opacity: 0.3;
  }
}

.page-footer__copyright-icon {
  width: 27px;
  height: 35px;

  fill: #63D1BB;
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  text-decoration: none;
  color: #000000;

  &:focus .page-footer__copyright-icon,
  &:hover .page-footer__copyright-icon {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-text {
  margin-right: 32px;

  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .page-body__main-wrapper {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .page-footer__logo {
    display: block;
    margin-right: auto;
    margin-top: 20px;
  }

  .page-footer__logo-image {
    width: 101px;
    height: 41px;
  }

  .page-footer__socials {
    margin: 0;

    border: none;
  }

  .page-footer__copyright {
    width: 204px;
    justify-content: end;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__copyright {
    margin-left: 191px;
  }
}
