.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: $mobile-width;

  font-family: "Open Sans", "Arial", sans-serif;
}

.page-body__footer {
  margin-top: auto;
}

.page-body__block {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;

  background-color: #ffffff;
  opacity: 0.9;

  &--show {
    display: block;
  }
}
