.top-banner {
  background-color: #f9f9f9;

  &--index{
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 320px auto;
  }
}

.no-webp .top-banner,
.no-js .top-banner {
  &--index {
    background-image: url("../img/index/hero-mobile.jpg");
    background-image:
      -webkit-image-set(
          url("../img/index/hero-mobile.jpg") 1x,
          url("../img/index/hero-mobile@2x.jpg") 2x
      );
    background-image:
      image-set(
          url("../img/index/hero-mobile.jpg") 1x,
          url("../img/index/hero-mobile@2x.jpg") 2x
      );
  }
}

.webp .top-banner {
  &--index {
    background-image: url("../img/index/hero-mobile.webp");
    background-image:
      -webkit-image-set(
          url("../img/index/hero-mobile.webp") 1x,
          url("../img/index/hero-mobile@2x.webp") 2x
      );
    background-image:
      image-set(
          url("../img/index/hero-mobile.webp") 1x,
          url("../img/index/hero-mobile@2x.webp") 2x
      );
  }
}

.top-banner__title {
  padding-top: 70px;
  padding-bottom: 76px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  text-align: center;

  &--index {
    padding-bottom: 122px;
  }
}

@media (min-width: $tablet-width) {
  .top-banner {
    position: relative;

    &--index {
      background-size: 768px auto;
    }
  }

  .no-webp .top-banner,
  .no-js .top-banner {
    &--index {
      background-image: url("../img/index/hero-tablet.jpg");
      background-image:
        -webkit-image-set(
            url("../img/index/hero-tablet.jpg") 1x,
            url("../img/index/hero-tablet@2x.jpg") 2x
        );
      background-image:
        image-set(
            url("../img/index/hero-tablet.jpg") 1x,
            url("../img/index/hero-tablet@2x.jpg") 2x
        );
    }
  }

  .webp .top-banner {
    &--index {
      background-image: url("../img/index/hero-tablet.webp");
      background-image:
        -webkit-image-set(
            url("../img/index/hero-tablet.webp") 1x,
            url("../img/index/hero-tablet@2x.webp") 2x
        );
      background-image:
        image-set(
            url("../img/index/hero-tablet.webp") 1x,
            url("../img/index/hero-tablet@2x.webp") 2x
        );
    }
  }

  .top-banner__title {
    padding-top: 94px;
    padding-bottom: 90px;

    font-size: 43px;
    line-height: 50px;

    &--index {
      padding-top: 152px;
      padding-bottom: 374px;
    }
  }

  .top-banner__divider {
    position: absolute;
    bottom: -1px;

    width: 100%;
    height: 24px;

    background-color: transparent;
    background-image: url("../img/zigzag-line-white-tablet.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .top-banner {
    &--index {
      background-size: 1150px auto;
    }
  }

  .no-webp .top-banner,
  .no-js .top-banner {
    &--index {
      background-image: url("../img/index/hero-desktop.jpg");
      background-image:
        -webkit-image-set(
            url("../img/index/hero-desktop.jpg") 1x,
            url("../img/index/hero-desktop@2x.jpg") 2x
        );
      background-image:
        image-set(
            url("../img/index/hero-desktop.jpg") 1x,
            url("../img/index/hero-desktop@2x.jpg") 2x
        );
    }
  }

  .webp .top-banner {
    &--index {
      background-image: url("../img/index/hero-desktop.webp");
      background-image:
        -webkit-image-set(
            url("../img/index/hero-desktop.webp") 1x,
            url("../img/index/hero-desktop@2x.webp") 2x
        );
      background-image:
        image-set(
            url("../img/index/hero-desktop.webp") 1x,
            url("../img/index/hero-desktop@2x.webp") 2x
        );
    }
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .top-banner--index {
      background-image: url("../img/index/hero-desktop@2x.jpg");
    }
  }

  .top-banner__title {
    padding-bottom: 116px;

    font-size: 53px;
    line-height: 57px;

    &--index {
      padding-bottom: 360px;
    }
  }

  .top-banner__divider {
    height: 34px;

    background-image: url("../img/zigzag-line-white-desktop.svg");
  }
}
